# Exercises week 2.1

## Structure

Each Exercise contains 3 different types of cells, 1 for the description of the exercise and the place where you need to write your code at the locations `#here your code`. Then there is the cell with the hint code, if you need help with the exercise because its not clear what to do or if you need an extra suggestion run the hint cell. At last we have the test cell, if you want to test if your solution is the correct one run this cell and it will tell you if you passed the exercise or not.

In [1]:
import pandas as pd
import numpy as np

## Exercise 2.1.1 Create dataframe
Given function `create_dataframe(data)` convert the dictionary below to a dataframe and return the dataframe.

In [2]:
def create_dataframe(data):
    return pd.DataFrame(data)

In [3]:
# This is the data that would be given as parameter
data = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

# Here we test if the dataframe is created
df = create_dataframe(data)
df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83


### Hint create dataframe
Need a hint run the following cell

In [ ]:
from testexercises import hint_create_dataframe
hint_create_dataframe()

### Test create dataframe
Want to check if your code is correct? Run the following cell!

In [4]:
from testexercises import test_create_dataframe
test_create_dataframe(create_dataframe)

=========>
All tests passed!!!


## Exercise 2.1.2 filter out None values
Given function `remove_nan(data)` where the input is a DataFrame. remove all rows where there is a non-existend value.
return the cleaned dataframe without non-existend values.

In [5]:
def remove_nan(df):
    return df.dropna()

In [6]:
exam_data = pd.DataFrame({
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]
})

df1 = remove_nan(exam_data)
df1.head()

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
4      Emily    9.0
5    Michael   20.0


### Hint filter non-existant values
Need a hint run the following cell

In [ ]:
from testexercises import hint_remove_nan
hint_remove_nan()

### Test filter non-existant values
Want to check if your code is correct? Run the following cell!

In [7]:
from testexercises import test_remove_nan
test_remove_nan(remove_nan)

=========>
All tests passed!!!